<form action=""  [formGroup]="storeForm" (ngSubmit)="register()" >
    <div class="form-group">


        <label for="">StoreId</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="storeid" >

        <div *ngIf="submitted && f.storeid.errors" class="alert alert-danger" role="alert">
            <div *ngIf="f.storeid.errors.required">
                storeid is required
            </div>

            <div *ngIf="f.storeid.errors.maxlength">
               maxlength is 4
            </div>


        </div>
    </div>


    <div class="form-group">
        <label for="" >Name</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="name" >

        <div *ngIf="submitted && f.name.errors" class="alert alert-danger" role="alert">
            <div *ngIf="f.name.errors.required">
                name is required
            </div>

            <div *ngIf="f.name.errors.pattern">
              invalid name format
            </div>


        </div>
        
    </div>


    <div class="form-group">
        <label for="" >Gstno.</label>
    </div>
    <div>
        <input type="email" class="form-control" formControlName="gstno">
    </div>
    

    <div formGroupName="address">
    <div>Address</div>


    <div class="form-group">
        <label for="">City</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="city" >
    </div>


    <div class="form-group">
        <label for="">Street</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="street" >
    </div>


    <div class="form-group">
        <label for="">Pincode</label>
    </div>
    <div>
        <input type="text" class="form-control" formControlName="pincode" >
    </div>
</div>

<!-- <button class="btn btn-primary" (click)="register()">Save</button> -->

<button class="btn btn-primary" >Save</button>
<button class="btn btn-primary" (click)="reset()">Reset</button>

<!-- Form Status {{storeForm.status}} -->
    
</form>




