<h1>{{title}}</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/test">Test</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="template">Add Produt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reactive">Reactive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="store">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="view">productjson</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="animation">Animation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="imageanimation">ImageAnimation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pagination">Pageination</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<!-- <fa-icon [icon]="spinner" ></fa-icon>
  <fa-icon [icon]="coffee" style="color: blue;"></fa-icon><br><br> -->
<!-- <p [ngStyle]='{"color":"red"}'>Welcome All</p> -->
<!-- <app-test>
  
</app-test>
<app-calculator>
    
</app-calculator> -->
<!-- <app-name-editor> </app-name-editor> -->
<!-- <app-data></app-data> -->
<router-outlet>

</router-outlet>